nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:0 200px;
} 

*{
    margin:5px;
}     
body{
    font-family:'Open Sans',sans-serif;
}
.nav-title{
    width: 121px;
height: 61px;
color:#181818;
font-family: Open Sans;
font-size: 45px;
font-weight: 800;
}
.yellow{
    color:#FD6E0A;
}
nav>ul{
    display:flex;
    align-items:center;
    
    
}
nav li{
    margin-right:50px;
    list-style-type: none;   
   
}
nav a{
   text-decoration:none;
}
.btn-primary{
    width: 150px;
height: 64px;
border-radius: 5px;
font-family: Open Sans;
font-size: 13px;
font-weight: 700;
text-align: left;
background-color:#FD6E0A; /* Set your desired color code */
      color:#FFFFFF;
        text-align: center;
        
}


.header{
background-color: #FFF8F3;
}
.banner{
    padding :30px 30px 0px 150px;
    display :flex;
    align-items :center;
   
}
.banner .profile-pic{
 width:500px;
}
.header{
    background-color: #FFF8F3;
    background-image:url("images/header_bg.png"),url("images/developer.png");
    background-repeat:no-repeat;
    background-position:right bottom,left top;
}
.banner-greeting{
    
    font-family: Open Sans;
font-size: 45px;
font-weight: 600;
text-align: left;
color:0xFF474747;
margin-bottom:5px;
}
.banner-title{
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 700;
    line-height: 116px;    
    letter-spacing: 0em;
    text-align: left;
    color:#181818;    
    margin-bottom:20px;
    
}
.banner-content{
    max-width:642px;
}

.about-me{
   
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
text-align: center;
color:#181818;

}
.description{
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom:30px;
}
.about {
    max-width: 1140px;
    padding: 131px;
    background-color: #FFF8F3;
  } 
  
  .about-container {
    display: flex;
    gap:50px;
    justify-content:space-around;
    flex-direction: row; /* Adjust the direction to column for vertical alignment */
    align-items: center;
    text-align: center; /* Center text within each item */
    box-shadow: 10px 5px 5px red;
  }
  
  .about-info {
    margin-bottom: 20px; /* Add some spacing between each info block */
  }
  
  .info-title {
    margin-bottom: 10px; /* Add some spacing between title and description */
  }
  .info-description{
    color:#474747;
  }
  .skills{
    display:flex;
    justify-content: space-around;
    gap:25px;
    max-width: 1600px;
  }
  .icon{
    align-items: center;
  }
  .skill-name{
    align-items: center;

  }
.skill-description{
    align-items:left;
}
.what-page{
    max-width:1600px;
}
.what{
    font-family: Open Sans;
font-size: 35px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0em;
text-align: center;

}
.what-descrip{
    font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
padding:30px 150px;
}
.skill-description{
    padding:30px;
}
.skill-name{
    padding:30px 30px 20px 30px;
}
.icon{padding:30px 190px 30px 30px;}
.skill {
    max-width: 267px;
    border-radius: 5px;
    box-shadow: 0px 6px 20px 0px #0000000F;
    background-color: #FFF;
    text-align: center;
  }
  main{
    max-width:1140px;
    nargin:0 auto;
  }
  main section{
    margin-top:130px;
  }
  .summary{
   
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color:#181818;

  }
  .column-title{
   
   padding-top:20px;
   align-items: center;
   padding-left:50px;


  }
  .column-header{
    font-family: Open Sans;
    font-size: 28px;
    font-weight: 700;
  
    text-align: left;
   
    color:#474747;
    margin-bottom: 20px;
  }
  .summary{
    margin-top:130px;
  }
  .column-container{
    display:flex;
    justify-content:space-around;
    gap:70px;
  }
  .degree{
    width: 405px;
font-family: Open Sans;
font-size: 25px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0em;
text-align: left;
color:#474747;


  }
  .versity{
    color:#757575;
    width: 309px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    
  }
  .versity-pass{
    font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color:#757575;
  }
  .download-cv{
    text-align: center;
    margin-top:50px;
   
  }
  
  
  form{
    display:flex;
    flex-direction:column;
  }
.last{
    display:flex;
    width: 1600px;
 height: 780px;
 top: 3476px;
 background-color:#FFF8F3;
 margin-top:30px;
 
}
.connect{
    align-items:center;
}
.let{
    align-items:center;}
.name{


border-radius: 5px;

}
.password{
    width: 461px;
height: 30px;
top: 3682px;
left: 909px;
border-radius: 5px;

}
.textarea{
    width: 461px;
height: 180px;
top: 3858px;
left: 909px;
border-radius: 5px;

}
.submit{
    display:flex;
    flex-direction: row;
}